.tiles{
  display:table;
  vertical-align: middle;
  width:60px;
  height:60px;
  text-align: center;
  align-content: center;
  color: white;
  border: 2px solid white;
}

.tile{
  display: table-cell;
  vertical-align: middle;
}
